<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title><%= APP_TITLE %> - Add new entry</title>
    </head>

    <body>
      <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue accent-4">
          <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
          <a href="/" class="brand-logo hoverable">&nbsp;<%= APP_TITLE %>&nbsp;</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>
      </div>

      <div class="container">

          <ul id="slide-out" class="side-nav">
            <li><div class="user-view">
              <div class="background">
                <img src="images/office.jpg">
              </div>
              <!-- <a href="#!user"><img class="circle" src="images/yuna.jpg"></a> -->
              <a href="#!name"><span class="white-text name">John Doe</span></a>
              <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
          </ul>

        <div class="row">
        <% if(message) {%>
          <ul>
             <% for(var i = 0;i< message.length;i++){ %>
             <li><%= message[i].msg %></li>
             <%}%>
          </ul>
          <% }%>
            <% if(messagestatus) {%>
               <%= messagestatus %>
            <% }%>
          <h3>
            What did you do today?<br>
                I ...
          </h3>
          <form class="col s12" method="POST" action="/save">
            <div class="row">
              <div class="col s6">
                <div class="input-field">
                  <i class="material-icons prefix">textsms</i>
                  <input type="text" id="verb" name="verb" class="autocomplete" autocomplete="off">
                  <label for="verb">Verb (got, bought, had, went ...)</label>
                </div>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">mode_edit</i>
                <input placeholder="What did you do.." id="task" name="task" type="text" class="validate" autocomplete="off">
                <label for="task">Task</label>
              </div>
            </div>
            <div class="row">
              On..
              <div class="input-field col s12">
                <i class="material-icons prefix">date_range</i>
                <input type="text" class="datepicker" id="entry_date" name="entry_date">
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <input type="checkbox" id="memories" name="memories" value="1" />
                <label for="memories">Add to Memories?</label>
              </div>
              <div class="col s6">
                <input type="checkbox" id="forecast" name="forecast" value="1" />
                <label for="forecast">Use for Forecast?</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <input type="text" id="last_date" name="last_date">
                <label for="last_date">Last Done on</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="days_ago" name="days_ago">
                <label for="days_ago">Days ago</label>
              </div>
              <div class="input-field col s4">
                <input type="text" id="usually" name="usually" />
                <label for="usually">Usually takes</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 center">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>


      </div>

      <footer class="page-footer blue">
        <div class="footer-copyright blue">
          <div class="container">
          © 2017 Copyright Text
        </div>
        </div>
      </footer>

      <!--Import jQuery before materialize.js-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('select').material_select();

        $( "#entry_date" ).change(function() {
          $('#days_ago').val(get_diff());
        })
                                  
        function get_diff() {
          var one_day=1000*60*60*24;
          var ld = $('#last_date').val();
          if(ld != '') {
            var ed = $('#entry_date').val();
            var da = Date.parse(ed) - Date.parse(ld);
            return Math.round(da/one_day);
          }
        };
        
        $(function() {
          $.ajax({
            type: 'GET',
            url: '/api/get_verbs',
            success: function(response) {
              
              var dataVerbs = {};
              for (var i = 0; i < response.length; i++) {
                dataVerbs[response[i].verb] = null; //countryArray[i].flag or null
              }

              $('#verb').autocomplete({
                data: dataVerbs,
                limit: 5, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function(val) {
                  $.ajax({
                    type: 'GET',
                    url: '/api/get_tasks?v='+val,
                    success: function(resp) {

                      var dataTasks = {};
                      if(resp.length == 1) {
                        $('#task').val(resp[0].task);
                        $('#last_date').val(resp[0].entry_date);
                        $('#days_ago').val(get_diff());
                        $('#task').autocomplete({
                          data: {}
                        });
                      }
                      else {
                        $('#task').val('');
                        $('#last_date').val('');
                        $('#days_ago').val('');
                        for (var i = 0; i < resp.length; i++) {
                          var strkey = resp[i].task + '. Last entry on:' + resp[i].entry_date;
                          dataTasks[strkey] = null;
                        }

                        $('#task').autocomplete({
                          data: dataTasks,
                          limit: 5, // The max amount of results that can be shown at once. Default: Infinity.
                          onAutocomplete: function(valT) {
                            alert(valT);
                            var res = valT.split(". Last entry on:");
                            $('#task').val(res[0]);
                            $('#last_date').val(res[1]);
                            $('#days_ago').val(get_diff());
                          },
                          minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
                        });
                      }
                    }
                  });
                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
              });
            }
          });
        });
      })
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false, // Close upon selecting a date
        formatSubmit: 'yyyy/mm/dd',
        onStart: function ()
        {
            var date = new Date();
            this.set('select', [date.getFullYear(), date.getMonth(), date.getDate()]);
        },
      });


      </script>
    </body>
  </html>
