  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title><%= APP_TITLE %> - Add new entry</title>
    </head>

    <body>
      <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue accent-4">
          <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
          <a href="/" class="brand-logo hoverable">&nbsp;<%= APP_TITLE %>&nbsp;</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>
      </div>

      <div class="container">

          <ul id="slide-out" class="side-nav">
            <li><div class="user-view">
              <div class="background">
                <img src="images/office.jpg">
              </div>
              <!-- <a href="#!user"><img class="circle" src="images/yuna.jpg"></a> -->
              <a href="#!name"><span class="white-text name">John Doe</span></a>
              <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
          </ul>
        
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="col s12">
                I 
                <div class="input-field inline">
                  <select id="verb">
                    <option value="" disabled selected>Choose</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                  <label>Verb</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <input placeholder="What did you do.." id="task" type="text" class="validate">
                <label for="task">Task</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="checkbox" id="memories" />
                <label for="memories">Add to Memories?</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
          </form>
        </div>
        
        
      </div>
      
      <footer class="page-footer blue">
        <div class="footer-copyright blue">
          <div class="container">
          © 2017 Copyright Text
        </div>
        </div>
      </footer>
      
      <!--Import jQuery before materialize.js-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('select').material_select();
      })
      </script>
    </body>
  </html>